# Archivos y carpetas sensibles
.env
php_error_log

# Dependencias de PHP
/vendor/

# Dependencias de Node
/node_modules/

# Archivos de composer
extensions/composer.lock

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos de caché
/storage/*.key
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*

# Archivos de vendor de CMS
extensions/vendor/

